pipeline/CopiarArrchivosABlobStorage_copy1.json
{
	"name": "CopiarArrchivosABlobStorage_copy1",
	"properties": {
		"activities": [
			{
				"name": "Metadata archivos Blob Storage PI",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "NombresArchivosBSPI",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Metadata archivos PC",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Metadata archivos Blob Storage PI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "NombresArchivosPC",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata archivos PC').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "ArchivoActual",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(activity('Metadata archivos Blob Storage PI').output.childItems,item())",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ArchivoActual",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineReturnValue",
								"value": [
									{
										"key": "Item",
										"value": {
											"type": "Object",
											"content": "@item()"
										}
									}
								],
								"setSystemVariable": true
							}
						}
					]
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Metadata archivos PC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ArchivosPC",
					"value": {
						"value": "@activity('Metadata archivos PC').output.childItemsactivity('Metadata archivos PC').output.itemName",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ItemForEach": {
				"type": "Array"
			},
			"ArchivosBS": {
				"type": "Array"
			},
			"ArchivosPC": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Extracción"
		},
		"annotations": [],
		"lastPublishTime": "2024-07-25T05:04:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}